<h1><%= @question.title %></h1>
<hr>
<div class="row">
	<div class="col-md-1">
		<div class="container-votes">
			<div>
				<%= form_for @vote, url: voteup_path do |f| %>
					<%= f.hidden_field :voteable_id, value: @question[:id] %>
					<%= f.hidden_field :user_id, value: current_user[:id] if !current_user.nil? %>
					<%= f.hidden_field :voteable_type, value: "Question" %>
					<%= image_submit_tag("up.png", class: 'vote-icon') %>
				<% end %>	
			</div>
			
			<div>
				<% if @question_has_voted.nil? %>
					<h3 class="vote"><%= @question.votes.length %></h3>	
				<% else %>
					<h3 class="vote has-vote"><%= @question.votes.length %></h3>	
				<% end %>	
			</div>
			
			<div>
				<%= form_for @vote, url: votedown_path do |f| %>
					<%= f.hidden_field :voteable_id, value: @question[:id] %>
					<%= f.hidden_field :user_id, value: current_user[:id] if !current_user.nil? %>
					<%= f.hidden_field :voteable_type, value: "Question" %>
					<%= image_submit_tag("down.png", class: 'vote-icon') %>
				<% end %>	
			</div>
			
		</div>
	</div>	
	
	<div class="col-md-11">
		<h3><%= markdown(@question.description) %></h3>
		<hr>
		<div>
			<% @question.comments.each do |comment| %>
				<h5 class="subindex"><%= comment.description %> - <strong><%= comment.user.email %></strong></h5>
				<hr>
			<% end %>
		</div>
		
		<div class="form-group">
			<%= form_for @comment, url: comments_path do |f| %>
				<%= f.hidden_field :commentable_id, value: @question[:id] %>
				<%= f.hidden_field :commentable_type, value: "Question" %>
				<%= f.hidden_field :user_id, value: current_user[:id] if !current_user.nil? %>
				<%= f.text_area :description, rows: 3, placeholder: "Agregar un comentario", class:"form-control" %>

				<div class="btn-group-right">
					<%= f.submit 'Comentar', class: 'btn btn-primary' %>	
					<% if !current_user.nil? %>
						<% if @question[:user_id] == current_user[:id] %>
							<%= link_to 'Eliminar Pregunta', @question, method: :delete, data: {confirm: '¿Está seguro de eliminar la pregunta?. Las respuestas, comentarios y votos asociados a ella no podrán visualizarse'}, class: 'btn btn-primary' %>
							<%= link_to 'Editar Pregunta', edit_question_path(@question), class: 'btn btn-primary' %>
						<% end %>
					<% end %>
				</div>

			<% end %>	
		</div>
		
	</div>
</div>

<br>
<h3><%= @question.answers.length %> Respuesta(s)</h3>
<hr>

<% if @question.answers.length == 0 %>
	<p>Si conoces a alguien que pueda responder a esta pregunta, por favor contactalo y dile que lo necesitamos con urgencia</p>
<% else %>
	<% @question.answers.each do |answer| %>
		<div class="row">
			<div class="col-md-1">
				<div class="container-votes">
					<div>
						<%= form_for @vote, url: voteup_path do |f| %>
							<%= f.hidden_field :voteable_id, value: answer[:id] %>
							<%= f.hidden_field :user_id, value: current_user[:id] if !current_user.nil? %>
							<%= f.hidden_field :voteable_type, value: "Answer" %>
							<%= image_submit_tag("up.png", class: 'vote-icon') %>
						<% end %>	
					</div>
					
					<div>
						<% votes = answer.votes %>
						<% if (!current_user.nil?) %>
							<% if (votes.where(user_id: current_user[:id], voteable_id: answer[:id], voteable_type: "Answer")).count > 0 %>
								<h3 class="vote has-vote"><%= answer.votes.length %></h3>	
							<% else %>
								<h3 class="vote"><%= answer.votes.length %></h3>	
							<% end %>	
						<% end %>
					</div>
					
					<div>
						<%= form_for @vote, url: votedown_path do |f| %>
							<%= f.hidden_field :voteable_id, value: answer[:id] %>
							<%= f.hidden_field :user_id, value: current_user[:id] if !current_user.nil? %>
							<%= f.hidden_field :voteable_type, value: "Answer" %>
							<%= image_submit_tag("down.png", class: 'vote-icon') %>
						<% end %>	
					</div>
					
				</div>
			</div>
			<div class="col-md-11">
				<h3><%= markdown(answer.content) %></h3>
				<hr>
				<div>
					<% answer.comments.each do |comment| %>
						<h5 class="subindex"><%= comment.description %> - <strong><%= comment.user.email %></strong></h5>
						<hr>
					<% end %>
				</div>

				<div class="form-group">
					<%= form_for @comment, url: comments_path do |f| %>
						<%= f.hidden_field :commentable_id, value: answer[:id] %>
						<%= f.hidden_field :commentable_type, value: "Answer" %>
						<%= f.hidden_field :user_id, value: current_user[:id] if !current_user.nil? %>
						<%= f.text_area :description, rows: 3, placeholder: "Agregar un comentario", class:"form-control" %>

						<div class="btn-group-right">
							<%= f.submit 'Comentar', class: 'btn btn-primary' %>
							<% if !current_user.nil? %>
								<%= link_to 'Eliminar Respuesta', answer, method: :delete, data: {confirm: '¿Esta seguro de eliminar la respuesta?. Los comentarios y votos asociados a ella no podrán visualizarse'}, class: 'btn btn-primary' if answer[:user_id] == current_user[:id] %>
							<% end %>
						</div>
					<% end %>	
				</div>

			</div>
		</div>
	<% end %>
<% end %>

<h3>Tu Respuesta</h3>
<hr>
<%= form_for @answer, :url => answers_path do |f| %>
	<%= f.hidden_field :question_id, value: @question[:id] %>
	<%= f.hidden_field :user_id, value: current_user[:id] if !current_user.nil? %>
	<div class="form-group">
		<%= f.text_area :content, rows: 5, class: "form-control" %>	
	</div>
	<%= f.submit 'Enviar Respuesta', class: 'btn btn-primary' %>
<% end %>