<!DOCTYPE html>
<html>
  <head>
    <title>FlowOverstack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>

  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container">
			  <div class="container-fluid">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/">Flow Overstack</a>
			    </div>
	    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  	    	<form class="navbar-form navbar-right">
	  	    	  <div class="form-group">
	  	          <input type="text" class="form-control" placeholder="Search">
	  	        </div>
	  				</form>
	  				<ul class="nav navbar-nav navbar-right">
	  					<% if user_signed_in? %>
	  						<li><%= link_to "#{current_user.email}", edit_user_registration_path %></li>
		    				<li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
		    			<% else %>
		    				<li><%= link_to 'Ingresar', new_user_session_path %></li>
		    				<li><%= link_to 'Registrarse', new_user_registration_path %></li>
		    			<% end %>
	    			</ul>	
	  			</div>
			  </div>
			</div>
  	</nav>

  	<div class="container">
  	    <% flash.each do |name, msg| %>
  	    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  	    <% end %>
  	</div>
  	
    <%= yield %>
  </body>
</html>
